body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
    border-style: solid;
    aspect-ratio : 1 / 1;
    width: 40%;
}

#input{
    display: block;
    margin: 10px auto 10px auto;
}

.divBox{
    background-color: aqua;
    flex: 1;
}

.divRow{
    display: flex;
    flex: 1;
    align-items: stretch;
}